//******************************************
//* /*********** Variables *********/*******
//******************************************


// Colors
$primary-color:#1E541F;
$secondary-color:#50A54E;
$green1-color:#2DC338;
$green2-color:#39E164;
$green3-color:#83E43D;
$green4-color:#7D8E26;
$green5-color:#9B9D28;
$lime-color:#C2F35F;
$yellow-color:#F7ED75;
$brown-color:#6C6033;
$blue-color:#004668;
$white-color:#fff;


//Fonts
$patrick-font:"Patrick Hand", cursive;;
$montserrat-font: "Montserrat", sans-serif;


// .patrick-hand-regular {
//     font-family: "Patrick Hand", cursive;
//     font-weight: 400;
//     font-style: normal;
//   }

  // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

// .montserrat-<uniquifier> {
//     font-family: "Montserrat", sans-serif;
//     font-optical-sizing: auto;
//     font-weight: <weight>;
//     font-style: normal;
//   }
  

//paths
$path-hero:"../img/hero.webp";