/****** NAV ******/

nav {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  ul {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    margin-right: 3rem;

    li {
      a {
        @include navStyle;
      }
    }
  }

  img {
    width: 70px;
    height: 70px;
    display: none;
    @include lightGreenHover;
    cursor: pointer;
  }
}

/*========Media queries (Medium Screen)==========*/
@media screen and (max-width: 1024px) {
  nav {
    ul {
      display: none;
      position: fixed;
      top: 8rem;
      right: 1rem;
      gap: unset;
      flex-direction: column;

      perspective: 300px;

      @include lightGreenHover;
      li {
        background: linear-gradient($brown-color, darken($brown-color, 10%));
        padding: 1rem 3rem;
        opacity: 0;
        // visibility: hidden;
        animation: flipOpen 300ms ease forwards;
        transform-origin: top;
        &:nth-child(1) {
            border-radius: 10px 10px 0 0;
          }
          &:last-child {
            border-radius: 0 0 10px 10px;
          }
        &:nth-child(2) {
          animation-delay: 200ms;
        }
        &:nth-child(3) {
          animation-delay: 400ms;
        }
        &:nth-child(4) {
          animation-delay: 600ms;
        }

        @keyframes flipOpen {
          from {
            transform: rotateX(90deg);
          }
          to {
            opacity: 1;
            transform: rotateX(0);
          }
        }

        a {
          &:hover {
            color: $lime-color;
            padding-bottom: unset;
            border-bottom: unset;
          }
        }
      }
    }
    .open-btn {
      display: inline-block;
    }
  }
}
